APP_NAME=App Name
#Run localhost
#Default http://localhost:3000
#Android http://10.0.2.2:3000
#Apple http://127.0.0.1:3000
BASE_URL=https://api.yourdomain.com/api
PAYMENT_KEY=your_payment_gateway_key_here
MAP_API_KEY=your_map_api_key_here
